@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@300;400;600;700;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.btn {
  padding: 22px 33px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f85a47;
}

.header {
  background: linear-gradient(to right, #fff 65%, #bdccff 35%);
  padding-top: 1.5rem;
}
.header-container {
  justify-content: space-between;
}
.header-container .header-logo {
  height: 3.1rem;
}
.header-container .header__menu .header__menu-item:not(:last-child) {
  margin-right: 4.6rem;
}
.header-container .header__menu-link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: bold;
  color: #000;
  transition: text-decoration 1s linear;
}
.header-container .header__menu-link:hover {
  text-decoration: underline;
}
.header-container .header__menu-link--active {
  text-decoration: underline;
}
.header .home {
  margin-top: 116px;
}
.header .home-top {
  grid-template-columns: repeat(2, 1fr);
  font-family: "DM Sans", sans-serif;
}
.header .home-top__content .home-top__small-heading {
  font-size: 2.2rem;
  line-height: 2.9rem;
  font-weight: bold;
  color: #f99900;
  margin-bottom: 2.4rem;
}
.header .home-top__content .home-top__heading {
  font-family: "Manrope", sans-serif;
  font-size: 5.4rem;
  line-height: 7.3rem;
  font-weight: 800;
  color: #000;
}
.header .home-top__content .home-top__sub-heading {
  font-family: "Manrope", sans-serif;
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: 0.01rem;
  color: #31353b;
  margin-top: 2.3rem;
  margin-bottom: 4.8rem;
}
.header .home-top__content .home-top__find {
  height: 86px;
  border: #dadada solid 1px;
  position: relative;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.header .home-top__content .home-top__find-input {
  border: none;
  outline: none;
  width: 100%;
}
.header .home-top__content .home-top__find .btn__find {
  position: absolute;
  top: -1px;
  left: calc(100% + 1px);
  width: 186px;
  height: 86px;
  border-radius: 0px;
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: 0.01rem;
  color: #fff;
}
.header .home-top__img {
  width: 100%;
  height: 100%;
  background: url(/assets/img/header.png) no-repeat center;
}
.header .home-bottom .donors__title {
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #31353b;
  margin-top: 145px;
  margin-bottom: 27px;
}
.header .home-bottom .donors__logo {
  column-gap: 5rem;
  align-items: center;
}

/*# sourceMappingURL=global.css.map */
